* {box-sizing: border-box}
body {font-family:'Times New Roman', Times, serif}

.img-container {
  display: flex;
  justify-content: space-between;
  background-color:white;
  }
  .img-container > .logo1 {
    width: 200px;
    height: fit-content;
  }
  .img-container > .logo2 {
    width: 220px;
    justify-content: end;
  }
/* styling navbar */
  .navbar {
    width: 100%;
    background-color: #000000;
    overflow: hidden;
    position: sticky;
    top: 0;
  }
  .navbar a {
    color: #ffffff;
    font-family: 'Courgette', Times, serif;
    float: left;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    width: 25%; /* Four links of equal widths */
    text-align: center;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  .navbar a.active {
    text-decoration: underline;
  }

/* styling link */
.link , .link:visited {
  background-color: white;
  color: #d14a0c;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}

.img1{
  width: 100px; 
  height: 45px; 
}

.img0 {
  width: 100%;
}

.img0:hover {
  opacity: 0.5;
}

/* two unequal columns that floats next to each other */

/* Left column */
.leftcolumn1 {   
  float: left;
  width: 37.5%;
}
.leftcolumn2 {   
  float: left;
  width: 37.5%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}
.row > .leftcolumn1 .leftcolumn2 .rightcolumn {
  padding: 8px;
}
.vid {
width:100%;
margin-right:15px;
}
#about {
  background-color: #d14a0c;
  color: #ffffff;
  border-radius: 50px;
  text-align: center;
  margin-top: 3px;
}
/* Card effect for articles */
.card {
   background-color: #ffffff;
   padding: 10px;
}
.login {
  background-color: gainsboro;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.firstletter::first-letter {
  font-size: 200%;
  color: #d14a0c;
}

/* Responsive layout */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

input[type=text], select {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password] {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form {
  border-radius: 5px;
  background-color:transparent;
  padding: 20px;
}
.buttonlog {
  width: 50%;
  background-color: black;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}
.buttonlog:hover {
  background-color: #434443;
  color: white;
}

/* 404.html */
.box { 
  height: 200px;
  position: relative;
  border: 3px solid transparent; 
}

.center {
  margin: 0;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.img404 {
  width: 300px;
}
.motto {
  color: #ffffff;
  font-family: 'Courgette', Times, serif;
  font-size: 20px;
  background-color: black;
  text-align: center;
  justify-content: center;
}

.homebutton:link, .homebutton:visited {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  margin-left: 10px;
}
.homebutton:hover, .homebutton:active {
  background-color:#d6d6d6;
  color: black;
}
/* vin-designs */

.row-grid {
  margin: 8px -16px;
}
.row-grid, .row-grid > .column-grid {
  padding: 8px;
}

.column-grid {
  float: left;
  width: 33%;
}
.row-grid:after {
  content: "";
  display: table;
  clear: both;
}
.img-grid {
  max-width: 100%;
  height: auto;
}
.item {
  background-color: white;
  padding: 10px;
}
/* Responsive layout - makes the two columns 
stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
.column-grid {
    width: 100%;
  }
}
.desc {
  list-style: none;
}
.desc .detail::before {
  content: "\2022";
  color: #d14a0c;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
/* search */
form.search {
  margin:auto;
  max-width:500px;
}
form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}
form.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #555555;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  margin-top: 8px;
}
form.search button:hover {
  background: #4b4a4aa1;
}
form.search::after {
  content: "";
  clear: both;
  display: table;
}