* {box-sizing: border-box}
body {font-family:'Times New Roman', Times, serif}
body {
    background-image: url('Image/chairs.jpeg');
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: right top;
    margin: 10px;
    background-attachment: scroll;
    padding: 0px;
  }
  
  .logo {
      float: left top;
      width: 200px; 
      height: 75px;
  }
  
  .motto
  {
      font-family: "Square Peg", sans-serif;
      color: #ffffff;
      background-color: #0a0a0a;
      font-size: 30px;
      text-align: center;
      justify-content: center
  }
.motto p {
  margin: 0;
}
.img1{
  width: 100px; 
  height: 45px; 
}

/* styling link */
a:link, a:visited {
  background-color: white;
  color: #d14a0c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}

.img0 {
  width: 100%;
}
/* transparent effect */
.img0:hover {
  opacity: 0.5;
}


/* two unequal columns that floats next to each other */
/* Left column */

.leftcolumn1 {   
  float: left;
  width: 37.5%;
}
.leftcolumn2 {   
  float: left;
  width: 37.5%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}
.row
.row > .leftcolumn1 .leftcolumn2 .rightcolumn {
  padding: 8px;
}
.vid {
width:100%;
margin-right:15px;
}
#about {
  background-color: #d14a0c;
  color: #ffffff;
  border-radius: 50px;
  text-align: center;
  margin-top: 3px;
}
/* Card effect for articles */
.card {
   background-color: #ffffff;
   padding: 10px;
}
.login {
  background-color: gainsboro;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

input[type=text], select {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password] {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form {
  border-radius: 5px;
  background-color:transparent;
  padding: 20px;
}
.buttonlog {
  width: 50%;
  background-color: black;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}
.buttonlog:hover {
  background-color: #434443;
  color: white;
}

/* 404.html */
.box { 
  height: 200px;
  position: relative;
  border: 3px solid transparent; 
}

.center {
  margin: 0;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.img404 {
  width: 300px;
}

.homebutton:link, .homebutton:visited {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  margin-left: 10px;
}
.homebutton:hover, .homebutton:active {
  background-color:#d6d6d6;
  color: black;
}